//
// Background Colors
//

.white-bg   { background-color: $white; }
.dark-bg    { background-color: $dark; }
.notice-bg  { background-color: $notice; }
.success-bg { background-color: $success; }
.danger-bg  { background-color: $danger; }
