//
// Border
//

.border-all           { border:         1px solid $border-color; }
.border-top           { border-top:     1px solid $border-color; }
.border-bottom        { border-bottom:  1px solid $border-color; }
.border-right         { border-right:   1px solid $border-color; }
.border-left          { border-left:    1px solid $border-color; }

.border-all--dark     { border:         1px solid $border-color--dark; }
.border-top--dark     { border-top:     1px solid $border-color--dark; }
.border-bottom--dark  { border-bottom:  1px solid $border-color--dark; }
.border-right--dark   { border-right:   1px solid $border-color--dark; }
.border-left--dark    { border-left:    1px solid $border-color--dark; }
