//
// Color
//

.white            { color: $white; }
.gray             { color: $gray; }
.dark-gray        { color: $darkgray; }

.notice           { color: $notice; }
.success          { color: $success; }
.alert            { color: $alert; }
