//
// Display
//

.inline       { display: inline; }
.block        { display: block; }
.inline-block { display: inline-block; }
.hidden       { display: none; }
.table        { display: table; }
.table-row    { display: table-row; }
.table-cell   { display: table-cell; }
