//
// Typography
//

.bold     { font-weight: bold; }
.regular  { font-weight: normal; }
.italic   { font-style: italic; }


//
// Text Controlls
//

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.break-word         { word-wrap: break-word; }
.no-wrap            { white-space: nowrap !important; }
