//
// Space unit

$base-space-unit:       1em !default;
$base-radius-unit:      3px !default;


//
// Colors

$white        :   #fff;
$gray         :   #2c3e50;
$darkgray     :   #95a5a6;
$dark         :   #2c3e50;
$notice       :   #3498db;
$success      :   #1abc9c;
$alert        :   #e74c3c;
$border-color :   #ecf0f1;
$border-color--dark: #bdc3c7;
