@import 'variables';
@import 'functions';

//
// Floats

.left   { float: left; }
.right  { float: right; }


//
// Clearfix

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after { clear: both; }


//
// Positions

.fixed    { position: fixed; }
.relative { position: relative; }
.absolute { position: absolute; }
.static   { position: static; }


//
// Align

.text-left      { text-align: left; }
.text-right     { text-align: right; }
.text-center    { text-align: center; }
.text-just      { text-align: justify; }

.align-top      { vertical-align: top;}
.align-bottom   { vertical-align: bottom;}
.align-middle   { vertical-align: middle;}


//
// Width && Height

.fw               { width: 100%; }
.full-min-height  { min-height: 100%; }
.full-height      { height: 100vh; }


//
// Display

.inline       { display: inline; }
.block        { display: block; }
.inline-block { display: inline-block; }
.hide         { display: none; }
.flex         { display: flex; }


//
// Z-index

.zindex-1 { z-index: 1; }
.zindex-2 { z-index: 2; }
.zindex-3 { z-index: 3; }
.zindex-4 { z-index: 4; }
.zindex-5 { z-index: 5; }


//
// Lists

.no-bullets     { list-style: none; }
.bullets-inside { list-style: inside; }
.list-bare {
  margin: 0;
  padding: 0;
  @extend .no-bullets;
}


//
// Color

.white      { color: $white; }
.gray       { color: $gray; }

.notice     { color: $notice; }
.success    { color: $success; }
.danger     { color: $danger; }


//
// Backgrounds

.white-bg   { background-color: $white; }
.dark-bg    { background-color: $dark; }
.notice-bg  { background-color: $notice; }
.success-bg { background-color: $success; }
.danger-bg  { background-color: $danger; }


//
// Border

.border-all           { border:         1px solid $border-color; }
.border-top           { border-top:     1px solid $border-color; }
.border-bottom        { border-bottom:  1px solid $border-color; }
.border-right         { border-right:   1px solid $border-color; }
.border-left          { border-left:    1px solid $border-color; }

.border-all--dark     { border:         1px solid $border-color--dark; }
.border-top--dark     { border-top:     1px solid $border-color--dark; }
.border-bottom--dark  { border-bottom:  1px solid $border-color--dark; }
.border-right--dark   { border-right:   1px solid $border-color--dark; }
.border-left--dark    { border-left:    1px solid $border-color--dark; }


//
// Text

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.break-word                   { word-wrap: break-word; }


//
// Radius

.radius                  { border-radius: $base-radius-unit; }
.radius-top              { border-radius: $base-radius-unit $base-radius-unit 0 0; }
.radius-right            { border-radius: 0 $base-radius-unit $base-radius-unit 0; }
.radius-bottom           { border-radius: 0 0 $base-radius-unit $base-radius-unit; }
.radius-left             { border-radius: $base-radius-unit 0 0 $base-radius-unit; }


//
// Margin
//

//
// Top Margin

.margin-top-none        { margin-top: 0; }
.margin-top-quarter     { margin-top: quarter($base-space-unit); }
.margin-top-half        { margin-top: halve($base-space-unit); }
.margin-top-one         { margin-top: $base-space-unit; }
.margin-top-two         { margin-top: double($base-space-unit); }
.margin-top-three       { margin-top: threefold($base-space-unit); }
.margin-top-four        { margin-top: quadruple($base-space-unit); }


//
// Bottom Margin

.margin-bottom-none     { margin-bottom: 0; }
.margin-bottom-quarter  { margin-bottom: quarter($base-space-unit); }
.margin-bottom-half     { margin-bottom: halve($base-space-unit); }
.margin-bottom-one      { margin-bottom: $base-space-unit; }
.margin-bottom-two      { margin-bottom: double($base-space-unit); }
.margin-bottom-three    { margin-bottom: threefold($base-space-unit); }
.margin-bottom-four     { margin-bottom: quadruple($base-space-unit); }


//
// Right Margin
.margin-right-none      { margin-right: 0; }
.margin-right-quarter   { margin-right: quarter($base-space-unit); }
.margin-right-half      { margin-right: halve($base-space-unit); }
.margin-right-one       { margin-right: $base-space-unit; }
.margin-right-two       { margin-right: double($base-space-unit); }
.margin-right-three     { margin-right: threefold($base-space-unit); }
.margin-right-four      { margin-right: quadruple($base-space-unit); }


//
// Left Margin

.margin-left-none       { margin-left: 0; }
.margin-left-quarter   { margin-left: quarter($base-space-unit); }
.margin-left-half      { margin-left: halve($base-space-unit); }
.margin-left-one       { margin-left: $base-space-unit; }
.margin-left-two       { margin-left: double($base-space-unit); }
.margin-left-three     { margin-left: threefold($base-space-unit); }
.margin-left-four      { margin-left: quadruple($base-space-unit); }


//
// Margin All
.margin-none      { margin: 0; }
.margin-quarter   { margin: quarter($base-space-unit); }
.margin-half      { margin: halve($base-space-unit); }
.margin-one       { margin: $base-space-unit; }
.margin-two       { margin: double($base-space-unit); }
.margin-three     { margin: threefold($base-space-unit); }
.margin-four      { margin: quadruple($base-space-unit); }


//
// Padding
//

//
// Top Padding

.padding-top-none       { padding-top: 0; }
.padding-top-quarter    { padding-top: quarter($base-space-unit); }
.padding-top-halve      { padding-top: halve($base-space-unit); }
.padding-top-one        { padding-top: $base-space-unit; }
.padding-top-two        { padding-top: double($base-space-unit); }
.padding-top-three      { padding-top: threefold($base-space-unit); }
.padding-top-four       { padding-top: quadruple($base-space-unit); }


//
// Bottom Padding

.padding-bottom-none    { padding-bottom: 0; }
.padding-bottom-quarter { padding-bottom: quarter($base-space-unit); }
.padding-bottom-halve   { padding-bottom: halve($base-space-unit); }
.padding-bottom-one     { padding-bottom: $base-space-unit; }
.padding-bottom-two     { padding-bottom: double($base-space-unit); }
.padding-bottom-three   { padding-bottom: threefold($base-space-unit); }
.padding-bottom-four    { padding-bottom: quadruple($base-space-unit); }


//
// Right Padding

.padding-right-none       { padding-right: 0; }
.padding-right-quarter    { padding-right: quarter($base-space-unit); }
.padding-right-halve      { padding-right: halve($base-space-unit); }
.padding-right-one        { padding-right: $base-space-unit; }
.padding-right-two        { padding-right: double($base-space-unit); }
.padding-right-three      { padding-right: threefold($base-space-unit); }
.padding-right-four       { padding-right: quadruple($base-space-unit); }


//
// Left Padding
.padding-left-none       { padding-left: 0; }
.padding-left-quarter    { padding-left: quarter($base-space-unit); }
.padding-left-halve      { padding-left: halve($base-space-unit); }
.padding-left-one        { padding-left: $base-space-unit; }
.padding-left-two        { padding-left: double($base-space-unit); }
.padding-left-three      { padding-left: threefold($base-space-unit); }
.padding-left-four       { padding-left: quadruple($base-space-unit); }


//
// Padding All

.padding-none           { padding: 0; }
.padding-quarter        { padding: quarter($base-space-unit); }
.padding-halve          { padding: halve($base-space-unit); }
.padding-one            { padding: $base-space-unit; }
.padding-two            { padding: double($base-space-unit); }
.padding-three          { padding: threefold($base-space-unit); }
.padding-four           { padding: quadruple($base-space-unit); }
